	
	    body {font-size: 20px;
		      font-family: comic sans MS;
			  
		background-image: url(./Images/venice2.png);
		background-repeat:no-repeat;
		 background-attachment: fixed;
 background-size: 1024px 600px;
		}
		#cat {background-image: url(./Images/redneck.png);
		      
				height: 100px;
				width: 100px;
			    background-repeat: repeat-x;
				background-repeat: repeat-y;
				font-size: 20px;
				
				}
		
		#dog {background-image: url(./images/port.png);
		     
height: 100px;
				width: 100px;
			    background-repeat: repeat-x;
				background-repeat: repeat-y;
				font-size: 20px;
				
				}
	#moo {background-image: url(./images/market.png);
		     
height: 100px;
				width: 100px;
			    background-repeat: repeat-x;
				background-repeat: repeat-y;
				font-size: 20px;
				
				}
					#meow {background-image: url(./images/market.png);
		     
height: 100px;
				width: 100px;
			    background-repeat: repeat-x;
				background-repeat: repeat-y;
				font-size: 20px;
				
				}
				
	#pop {background-image: url(./images/bank.png);

	background-repeat: no-repeat-x;
	background-repeat: no-repeat-y;
	background-color: black;
	
	   height: 400px;
   width: 500px;
   position: fixed;
   bottom: 10%;
   center: 80%;
   right: 30%;
  
border-style: solid;
border-width: 35px 35px 35px 35px;
-moz-border-image: url(./Images/olive.png) 35 35 35 35 stretch;
-webkit-border-image: url(./Images/olive.png) 35 35 35 35 stretch;
-o-border-image: url(./Images/olive.png) 35 35 35 35 stretch;
border-image: url(./Images/olive.png) 35 35 35 35 fill stretch;

   display: none;
	
	
	
	}
	#instructions {background-color: white;
	    background: Beige; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, Beige, BurlyWood); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, Beige, BurlyWood); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, Beige, BurlyWood); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, Beige, BurlyWood); /* Standard syntax (must be last) */

	
	
	height: 375px;
	width: 500px; 
   position: fixed;
   bottom: 10%;
   center: 80%;
   right: 30%;
border-style: solid;
border-width: 35px 35px 35px 35px;
-moz-border-image: url(./Images/olive.png) 35 35 35 35 stretch;
-webkit-border-image: url(./Images/olive.png) 35 35 35 35 stretch;
-o-border-image: url(./Images/olive.png) 35 35 35 35 stretch;
border-image: url(./Images/olive.png) 35 35 35 35 fill stretch;
}

#close{
right: 5;
bottom: 5;
float: right;
opacity: 0.5;
}
#close2{
right: 5;
bottom: 5;
float: right;
opacity: 0.5;
}
	
	
	
	#kittens { text-align: center}
	
	#soda {
	height: 30px;
	width:  500px;
	background-color: white;
 position: fixed;
 bottom: 17% 
}